
.weatherCard-box {
  width: 145px;
  height: 350px;
  padding: 7px;
  border: 2px solid black;
  background-color: #E4E5F6;
  border-radius: 10px;
  box-shadow: inset  2px 2px 3px 2px #ffffff,
  2px 2px 4px 2px #1d1d1d;
}

.weatherCard-box p {
  text-decoration: none;
  font-size: .75em;
}