.details-wrapper {
    width: 80%;
    background-color: #2A37AD;
    padding: 5px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset  2px 2px 3px 2px lightblue,
  2px 2px 4px 2px #1d1d1d;
}

.hour-details {
    background-color: #E4E5F6;
    border-radius: 10px;
    margin: 5px;
    padding: .1px;
    margin-top: 0px;
    box-shadow: inset  2px 2px 3px 2px #ffffff,
  2px 2px 4px 2px #1d1d1d;
}